/*---------- Tabs Bar ----------*/
#tabbrowser-tabs {
    --theme-scrollbutton-display: none;
    padding: 0 !important;
    margin: 0 !important;
    border-inline-start: none !important;

    &[orient="horizontal"] {
        --tab-min-width: 64px !important;

        .tabbrowser-tab {
            margin-inline: calc(
                var(--toolbar-start-end-padding) / 2
            ) !important;

            tab-group[collapsed] > & {
                margin: revert !important;
            }

            &[fadein]:not([pinned], [selected], [multiselected]):not(
                    tab-group[collapsed] > &
                ) {
                max-width: 150px !important;
            }

            &[selected]:not([pinned]) {
                flex-grow: 200 !important;
                min-width: 100px !important;
                max-width: 200px !important;
            }

            &[multiselected]:not([pinned]):not(tab-group[collapsed] > &) {
                max-width: 100px !important;
            }
        }

        > #tabbrowser-arrowscrollbox
            > #tabbrowser-arrowscrollbox-periphery
            > #tabs-newtab-button {
            display: inherit !important;
        }
    }

    &[orient="vertical"] {
        grid-gap: unset !important;

        .tabbrowser-tab {
            margin-block-end: calc(3 * var(--tab-block-margin)) !important;
        }

        #tabs-newtab-button,
        #vertical-tabs-newtab-button {
            margin: auto auto var(--space-xsmall) !important;
            border-radius: var(--border-radius-small) !important;

            > .toolbarbutton-text {
                display: none;
            }

            #tabbrowser-tabs[expanded] & {
                width: inherit !important;
            }
        }

        > #vertical-pinned-tabs-container {
            scrollbar-width: none !important;
            max-height: calc(
                5 * var(--tabstrip-min-height) + 5 *
                    (3 * var(--tab-block-margin))
            ) !important;
        }
    }

    tab-group {
        #tabbrowser-tabs[orient="horizontal"] & > .tab-group-label-container {
            padding-inline: 0 !important;
            margin-inline: calc(
                var(--toolbar-start-end-padding) / 2
            ) !important;
        }

        #tabbrowser-tabs[orient="horizontal"]
            &:not([collapsed])
            > .tab-group-label-container {
            margin-inline-end: calc(var(--tab-block-margin) / 2) !important;
        }

        #tabbrowser-tabs[orient="vertical"] & {
            margin-block: 0 !important;
        }

        .tab-group-label {
            background-color: var(--tab-group-color) !important;
            outline: none !important;
            border-radius: var(--border-radius-small) !important;
            line-height: var(--tab-min-height) !important;
            transition: background-color 0.3s ease;

            tab-group[collapsed] > .tab-group-label-container > & {
                background-color: light-dark(
                    color-mix(in srgb, var(--tab-group-color) 25%, transparent),
                    color-mix(in srgb, var(--tab-group-color) 35%, transparent)
                ) !important;
            }

            tab-group:not([collapsed]) > .tab-group-label-container > & {
                color: var(--tab-group-color-pale) !important;
            }

            #tabbrowser-tabs[orient="horizontal"] & {
                padding-inline: var(--tab-inline-padding) !important;
            }

            #tabbrowser-tabs[orient="vertical"] & {
                padding: 0 var(--space-medium) !important;
                margin-block: auto calc(3 * var(--tab-block-margin)) !important;

                &:first-letter {
                    line-height: initial !important;
                }
            }
        }

        .tab-group-line {
            background-color: light-dark(
                color-mix(in srgb, var(--tab-group-color) 15%, transparent),
                color-mix(in srgb, var(--tab-group-color) 25%, transparent)
            ) !important;
            height: var(--tab-min-height) !important;
            margin: 0 !important;
            border-radius: var(--border-radius-small) !important;
            transition: background-color 0.3s ease;

            .tab-background:not(
                    #tabbrowser-tabs[orient="vertical"][expanded]
                        .tab-background,
                    [multiselected]
                ):has(&) {
                background-color: revert !important;
            }

            .tab-background[selected]:has(&) & {
                background-color: light-dark(
                    color-mix(in srgb, var(--tab-group-color) 25%, transparent),
                    color-mix(in srgb, var(--tab-group-color) 35%, transparent)
                ) !important;
            }

            .tab-background[multiselected]:has(&) & {
                background-color: transparent !important;
            }

            .tabbrowser-tab:hover & {
                background-color: light-dark(
                    color-mix(in srgb, var(--tab-group-color) 20%, transparent),
                    color-mix(in srgb, var(--tab-group-color) 30%, transparent)
                ) !important;
            }

            #tabbrowser-tabs[orient="vertical"][expanded] & {
                display: none;
            }
        }
    }
}

.tabbrowser-tab {
    --tab-label-mask-size: 0 !important;
    padding: 0 !important;

    #tabbrowser-tabs[movingtab] > #tabbrowser-arrowscrollbox > &[fadein] {
        transition: 0.2s linear !important;
    }

    #tabbrowser-tabs[positionpinnedtabs]
        > #tabbrowser-arrowscrollbox
        > &[pinned] {
        position: inherit !important;
    }

    .tab-background {
        margin-block: 0 !important;
        outline: none !important;
        border-radius: var(--border-radius-small) !important;
        background-color: transparent !important;
        box-shadow: none !important;
        transition: background-color 0.2s ease;

        &[selected] {
            background-color: var(--neptune-tab-active-background) !important;

            .tabbrowser-tab[usercontextid] &:not([multiselected]) {
                background-color: color-mix(
                    in srgb,
                    var(--identity-tab-color) 25%,
                    transparent
                ) !important;
            }
        }

        &:not([selected], [multiselected]) {
            background-color: var(--neptune-tab-background) !important;

            .tabbrowser-tab[pending] & {
                background-color: var(
                    --neptune-tab-unloaded-background
                ) !important;
            }

            .tabbrowser-tab:hover & {
                background-color: var(
                    --neptune-tab-hover-background
                ) !important;
            }

            #tabbrowser-tabs[orient="vertical"]
                &:not(.tabbrowser-tab[soundplaying] &) {
                background-color: var(
                    --neptune-verticaltab-background
                ) !important;

                .tabbrowser-tab[pinned] & {
                    background-color: var(
                        --neptune-verticaltab-pinned-background
                    ) !important;
                }

                .tabbrowser-tab:hover & {
                    background-color: var(
                        --neptune-verticaltab-hover-background
                    ) !important;
                }
            }

            .tabbrowser-tab[usercontextid] & {
                background-color: color-mix(
                    in srgb,
                    var(--identity-tab-color) 15%,
                    transparent
                ) !important;

                #tabbrowser-tabs[orient="vertical"] & {
                    background-color: color-mix(
                        in srgb,
                        var(--identity-tab-color) 8%,
                        transparent
                    ) !important;
                }
            }

            .tabbrowser-tab[soundplaying]:not(
                    #tabbrowser-tabs[orient="vertical"][expanded]
                        .tabbrowser-tab:not([pinned])[soundplaying],
                    #tabbrowser-tabs[orient="horizontal"]
                        .tabbrowser-tab:not([pinned])[soundplaying]
                )
                & {
                background-color: var(
                    --neptune-tab-soundplaying-background
                ) !important;
                animation: var(--tab-sharing-icon-animation) -1s;
            }
        }

        &[multiselected] {
            background-color: var(--neptune-tab-selected-background) !important;
            background-image: linear-gradient(
                90deg,
                transparent 0%,
                var(--neptune-item-selection-background) 25%,
                transparent 50%,
                var(--neptune-item-selection-background) 75%,
                transparent 100%
            );
            background-size: 200% 100%;
            animation: downloadProgressSlideX 2s linear infinite;
        }
    }

    .tab-content {
        font-size: 12.5px;

        #tabbrowser-tabs[orient="horizontal"]
            .tabbrowser-tab[pictureinpicture]
            & {
            font-size: 0.88em;

            > .tab-label-container > .tab-label {
                line-height: calc(var(--tab-min-height) / 2) !important;
            }
        }

        > .tab-label-container {
            height: inherit !important;

            > .tab-label {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            > .tab-secondary-label {
                margin-block: 0 !important;
                font-size: 9px !important;
            }
        }

        > .tab-audio-button {
            --button-min-height-small: var(--size-item-medium) !important;
            --button-background-color-ghost-hover: transparent !important;
            --button-background-color-ghost-active: transparent !important;
        }

        > .tab-icon-stack {
            #tabbrowser-tabs[orient="horizontal"]
                .tab-content
                > &
                > .tab-icon-image:not([src], [busy]) {
                display: revert !important;
            }

            tab:hover
                .tab-content:not(
                    #tabbrowser-tabs[orient="vertical"]:not([expanded])
                        .tab-content
                )
                > &:not([pinned]),
            tab[pinned][soundplaying]:hover
                .tab-content
                > &
                > :is(.tab-icon-image, .tab-throbber) {
                display: none;
            }

            tab:is([label="New Tab"], [label="New Private Tab"])
                &
                > .tab-icon-image {
                content: url("../icons/favicon.svg");
                fill: var(--toolbarbutton-icon-fill) !important;
            }

            > .tab-icon-overlay {
                #tabbrowser-tabs[orient="vertical"]:not([expanded])
                    &:not([pinned]) {
                    display: none;
                }

                &[pinned]:not([crashed]):is(
                        [soundplaying],
                        [muted],
                        [activemedia-blocked]
                    ) {
                    background-color: currentColor !important;
                    background-image: none !important;
                    fill: ActiveCaption !important;
                    inset: auto !important;
                    visibility: collapse;

                    tab:hover & {
                        visibility: visible;
                        animation: urlbar-zoom-reset-pulse 250ms ease-in-out;
                    }
                }
            }
        }

        > .tab-close-button {
            background-color: var(--neptune-button-field-color) !important;
            fill: ActiveCaption !important;
            margin-inline-end: calc(
                var(--tab-icon-end-margin) + 4px
            ) !important;
            border-radius: 2px !important;
            visibility: collapse;
            opacity: 0;
            order: -1;
            transition: opacity 0.3s ease-in-out;

            #tabbrowser-tabs[closebuttons="activetab"][orient="horizontal"]
                &:not([selected], [pinned]) {
                display: revert !important;
            }

            #tabbrowser-tabs[orient="vertical"]:not([expanded]) & {
                list-style-image: url("../icons/minus.svg") !important;
                background-image: none !important;
                background-color: var(--attention-dot-color) !important;
                padding: var(--toolbarbutton-outer-padding) !important;
                inset: 0 var(--space-xsmall) !important;
                box-shadow: none !important;
                outline: none !important;
                border-radius: 50% !important;
            }

            &:hover {
                background-color: var(
                    --neptune-button-field-hover-color
                ) !important;
            }

            &:hover:active {
                background-color: currentColor !important;
            }

            tab:hover & {
                visibility: visible;
                opacity: 1;
            }
        }

        .tabbrowser-tab[pending] & {
            color: var(--text-color-disabled);
        }
    }
}

#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon {
    background-color: var(--toolbarbutton-active-background) !important;
    box-shadow: none !important;
}

.all-tabs-item {
    &[selected]:not(:hover) {
        font-weight: unset !important;
        background-color: var(--neptune-tab-background);
    }

    > .all-tabs-secondary-button {
        background-color: transparent !important;

        &:hover {
            fill: var(--color-accent-primary-hover) !important;
        }
    }
}

.tab-group-editor-panel {
    --panel-padding: var(--space-small) var(--space-medium) !important;

    .panel-header {
        padding: 0 !important;

        > h1 {
            margin-block: var(--space-xsmall) !important;
        }
    }

    toolbarseparator {
        margin: var(--arrowpanel-menuitem-margin-inline) !important;
    }
}

.tab-preview-text-container {
    padding: var(--space-medium) !important;
    order: 1;
}

.tab-preview-thumbnail-container {
    border: none !important;
}

#scrollbutton-up,
#scrollbutton-down {
    display: var(--theme-scrollbutton-display, inherit);

    ~ spacer {
        background-image: none !important;
    }
}